@import "reset.css";

/* header css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6266ED;
    padding: 10px 20px;
    
}

.header_logo {
    width: 20px;
    height: 30px;
    margin-right: 5px;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    align-items: center;
    flex-grow: 1;
}

.navbar_menu li {
    margin: 0px 20px;
    font-size: 14px;
    position: relative;
}

.navbar_menu li:first-child {
    /* margin: 5px 20px; */
    font-size: 20px;
    display: flex;
    align-items: center;
}
.user_button {
    display: flex;
    justify-content: space-around;
}

.user_button a {
    margin-right: 20px;
    padding: 5px 10px;
    display: flex;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 13px;
}

.user_button a:first-child {
    color: #6266ED;
}

@media screen and (max-width: 960px) {
    .navbar_menu li:not(:first-child) {
        display: none;
    }
    .user_button a {
        display: block;
    }
    .navbar {
        display: flex;
        padding: 10px 20px;
    }
    .navbar_menu {
        flex-grow: 0;
    }
}

.navbar_menu li:not(:first-child)::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    transition: 0.3s ease;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.navbar_menu li:hover::after {
    width: 100%;
}

.banner {
    background-color: #6266ED;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    font-weight: bold;
    padding-bottom: 60px;
}
.banner h3 {
    margin-top: 15px;
}
.search_box {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
    box-shadow: none;
}
.search_bar {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search_txt {
    border-radius: 18px;
    padding: 10px;
    width: 400px;
    border: solid 1px #DEDEDE;
}

.search_btn {
    position: absolute;
    right: 0px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    padding: 10px 23px;
    background-color: white;
    border: solid 1px #DEDEDE;
}

.search_btn i {
    color: gray;
}


/* main css */



.videos {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    
}

/* .category {
    background-color: aqua;
    /* margin-bottom: 40px;  */

.category p {
    padding: 20px;
    margin-bottom: 0;
    color: #6266ED;
    font-weight: bold;
}
.video_silder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    /* margin: 20px; */
    /* background-color: blue; */
}


.left_btn,
.right_btn{
    background-color: #7D7D7D;
    color : white;
    border-radius: 8px;
    padding: 5px 8px;
    border: none;
    /* position: absolute; */

}
/* .left_btn {
    left: -20px;
}

.right_btn {
    right: 0;
} */
.video_container {
    display: flex;
    overflow: hidden;
    width: 950px;
    margin: 0 20px;
    
    /* background-color: blueviolet; */

}
.video_card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #FFFFFF;
    overflow: hidden;
    flex: 0 0 230px;
    height: 250px;
    margin-right: 10px;
    position: relative;
}

.video_card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 50%;
}

.silde {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 8px;
    width: 8px;
    margin: 0 5px;
    background-color: #E5E7EB;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot:active {
    background-color: #121826;
}
.video_min {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #E35F79;
    color: white;
    padding: 3px 13px;
    border-radius: 10px;
    font-size: 12px;
}

.bodypart_choice {
    /* background-color: green; */
    padding: 0 20px;
    margin-bottom: 20px;
}

.bodypart_choice span {
    color: black;
    border-radius: 5px;
    background-color: #EAEAEA;
    padding: 3px 8px;
    font-weight: bold;
    margin-right: 10px;
}

.bodypart {
    display: flex;
    width: 45px;
    background-color: #F5F5F5;
    border-radius: 10px;
    justify-content: center;
    padding: 5px 0px;
    margin: 15px 20px;
    font-weight: bold;
}

.video_comment {
    display: flex;
    justify-content: center;
    margin: 0px 10px;
    font-size: 15px;
}

.fa-heart {
    position: absolute;
    bottom : 15px;
    right: 20px;
    color: #999999;
    font-size: 20px;
}

.video_card .fa-heart:active{
    color: #6266ED;
}

.dot:nth-child(1){
    background-color: #121826;
}
