body {
    margin: 0;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6266ED;
    padding: 0px 20px;
}

.header_logo {
    width: 20px;
    height: 30px;
    margin-right: 5px;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    align-items: center;
    flex-grow: 1;
}

.navbar_menu li {
    margin: 0px 20px;
    font-size: 15px;
    position: relative;
}

.navbar_menu li:first-child {
    margin: 0px 20px;
    font-size: 20px;
}
.user_button {
    display: flex;
    justify-content: space-around;
}

.user_button a {
    margin-right: 20px;
    padding: 3px 10px;
    display: flex;
    background-color: white;
    color: black;
    border-radius: 10%;
    font-size: 13px;
}

.user_button a:first-child {
    color: #6266ED;
}

@media screen and (max-width: 960px) {
    .navbar_menu li:not(:first-child) {
        display: none;
    }
    .user_button a {
        display: block;
    }
    .navbar {
        display: flex;
        padding: 0px 20px;
    }
    .navbar_menu {
        flex-grow: 0;
    }
}

.navbar_menu li::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    transition: 0.3s ease;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.navbar_menu li:hover::after {
    width: 100%;
}
