<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헤더파일</title>
    <link rel="stylesheet" href="../../css/components/header.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="navbar_menu">
                <li>
                    <a href="../../html/pages/main.html">
                        <img class="header_logo" src="../../assets/icons/logo.svg" alt="logo_img">
                        자세차렷
                    </a>
                </li>
                <li><a href="../../html/pages/introduction.html">서비스 소개</a></li>
                <li><a href="../../html/pages/maps.html">주변 자세교정 시설보기</a></li>
                <li><a href="#">현재 나의 자세 보기</a></li>
                <li><a href="../../html/pages/mypage.html">마이페이지</a></li>        
            </ul>
            <div class="user_button">
                <a href="#" class="login_btn">로그인</a>
                <a href="#" class="join_btn">회원가입</a>
                <p class="welcome_msg"></p>
                <a href="#" class="logout_btn">로그아웃</a>
            </div>
        </nav>
    </header>
    
</body>
<script src="../../js/pages/header.js"></script>
</html>
