<body>
    <header>
        <nav class="navbar">
            <ul class="navbar_menu">
                <li>
                    <a href="#">
                        <img class="header_logo" src="./logo.png" alt="logo_img">
                        자세차렷
                    </a>
                </li>
                <li><a href="#">서비스 소개</a></li>
                <li><a href="#">주변 자세교정 시설보기</a></li>
                <li><a href="#">현재 나의 자세 보기</a></li>
                <li><a href="#">마이페이지</a></li>        
            </ul>
            <div class="user_button">
                <a href="#">로그인</a>
                <a href="#">회원가입</a>
            </div>
        </nav>
    </header>
    
</body>
</html>
