/* header css */
body {
  margin: 0;
  padding: 30px 0 0 0;
  font-family: Arial, sans-serif;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: flex;
  padding-bottom: 1px;
}

header {
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #6266ed;
  height: 50px;
  /* padding: 5px 20px; */
}

.site_name {
  color: white;
  font-weight: bold;
  margin-top: 7px;
  display: flex;
}

.header_logo {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  align-items: center;
  flex-grow: 1;
  /* margin-top: 5px; */
  /* margin-bottom: 0; */
}

.navbar_menu li {
  margin: 0px 20px;
  font-size: 14px;
  position: relative;
}

.navbar_menu li:first-child {
  /* margin: 5px 20px; */
  font-size: 20px;
  display: flex;
  align-items: center;
}
.user_button {
  display: flex;
  justify-content: space-around;
}

.user_button a {
  margin-right: 20px;
  padding: 5px 10px;
  display: flex;
  background-color: white;
  color: black;
  border-radius: 5px;
  font-size: 13px;
}

@media screen and (max-width: 960px) {
  .navbar_menu li:not(:first-child) {
    display: none;
  }
  .user_button a {
    display: block;
  }
  .navbar {
    display: flex;
    padding: 10px 20px;
  }
  .navbar_menu {
    flex-grow: 0;
  }
}

.navbar_menu li:not(:first-child)::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: 0.3s ease;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.navbar_menu li:hover::after {
  width: 100%;
}

.welcome_msg {
  visibility: hidden;
  color: white;
  margin-right: 20px;
}

.login_btn {
  color: #6266ed;
  visibility: visible;
  /* display: block; */
  padding: 0;
  margin-top: 10px;
  height: 50%;
}

.logout_btn {
  visibility: hidden;
  padding: 0;
  margin-top: 10px;
  height: 50%;
  /* display: none; */
}

.signup_btn {
  visibility: visible;
  /* display: block; */
  padding: 0;
  margin-top: 10px;
  height: 50%;
}

.user_name {
  font-weight: bold;
}
