@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
* {
    font-family: 'Noto Sans KR', sans-serif;
}

.banner {
    background-color: #6166F5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    font-weight: bold;
    padding-bottom: 60px;
    padding-top: 50px;
}
.banner h3 {
    margin-top: 15px;
}

