.find-id_container {
  position: relative;
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.find-id_wrap {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px #d3d3d3;
  width: 700px;
  height: 500px;
}

.find-id_wrap p {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.field_email {
  display: flex;
}

#send_verification-number {
  flex-basis: 130px;
}

.field_verification-number {
  display: flex;
}

#check_verification-number {
  flex-basis: 164px;
  margin-right: 10px;
}

#resend_verification-number {
  flex-basis: 164px;
}

.find-id_form input {
  padding: 15px;
  border: 1px solid #ccc;
  font-size: 15px;
  width: 640px;
  margin: 13px auto;
}

.find-id_form input[type="button"] {
  background-color: #6166f5;
  color: white;
  border: none;
}

.find-id_form input[type="button"]:hover {
  background-color: #3838d4;
}

.find-id_finished {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.find-id_next {
  width: 100%;
  padding: 15px;
  margin-top: 30px;
  background-color: #6166f5;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

.find-id_next:hover {
  background-color: #3838d4;
}

/* 이메일 인증번호 유효시간
.field_verification-number {
  display: flex;
  align-items: center;
  position: relative;
}

.remaining-time {
  position: relative;
  margin-left: 10px;
  font-size: 16px;
} */
