@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* main css */

.videos {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
}

/* .category_container {
    visibility: hidden;
} */
.category p,
.last_category p {
    padding: 20px;
    margin-bottom: 0;
    color: #6166F5;
    font-weight: bold;
}

.video_slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: 20px 0; /* 상하 마진 20px, 좌우 마진 0px */
}

.left_btn,
.right_btn {
    background-color: #7d7d7d;
    color: white;
    border-radius: 8px;
    padding: 5px 8px;
    border: none;
    cursor: pointer;
    position: absolute;
}

.left_btn {
    left: -10px;
}

.right_btn {
    right: -10px;
}
 
.video_container {
    display: flex;
    overflow: hidden;
    width: 950px;
    margin: 0 20px;
}
.video_card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #FFFFFF;
    overflow: hidden;
    flex: 0 0 230px;
    height: 300px;
    margin-right: 10px;
    position: relative;
}

.video_card img {
    width: 100%;
    height: 160px; /* 이미지 높이 조정 */
    object-fit: cover;
}

.video_min {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #E35F79;
    color: white;
    padding: 3px 13px;
    border-radius: 10px;
    font-size: 12px;
}

.bodypart {
    width: fit-content;
    display: inline-block;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 12px;
}

.video-link {
    text-decoration: none;
    color: inherit;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.video_comment {
    display: flex;
    justify-content: center;
    margin: 0px 10px;
    font-size: 15px;
}

.fa-heart {
    position: absolute;
    bottom : 15px;
    right: 20px;
    color: #999999;
    font-size: 20px;
}

.video_card .fa-heart:active{
    color: #6166F5;
}

.silde {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 8px;
    width: 8px;
    margin: 0 5px;
    background-color: #E5E7EB;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot:active {
    background-color: #121826;
}

.dot:nth-child(1){
    background-color: #121826;
}

.bodypart_choice {
    padding: 0 20px;
    margin-bottom: 20px;
}

.bodypart_choice span {
    color: black;
    border-radius: 5px;
    background-color: #EAEAEA;
    padding: 3px 8px;
    font-weight: bold;
    margin-right: 10px;
}

.logout_btn {
    display: none;
}

.welcome_msg {
    visibility: hidden;
}