/* 글쓰기 기능 css */

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 110vh;
  background: linear-gradient(180deg, #ffffff 55%, #6166f527);
}

header {
  /* 이거 넣어줬으면 하는거 */
  width: 100vw;
}

/* 마이페이지 타이틀 부분 */

.title {
  margin: 45px 0 10px 0;
  width: 900px;
  display: flex;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  flex-direction: row;
}

.titleText {
  justify-content: left;
  color: #6166f5;
  font-size: 40px;
  font-weight: 600;
  margin: 5px 7px 0 0;
}

.titleIcon {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
}

.titleIcon i {
  color: #6166f5;
  font-size: 35px;
}

/* 00님, 오늘도 좋은 하루 되세요! 부분 */

.greetings {
  font-size: 16px;
  align-self: self-end;
  font-weight: 400;
  color: rgb(119, 119, 119);
}

.nickname {
  color: #6166f5;
  font-weight: 700;
}

hr {
  /* 구분선 스타일 */
  border: none;
  height: 1px;
  background-color: #bebebe;
  width: 840px; /* 구분선 너비 : 추후 조정 */
  margin-bottom: 45px;
}

/* 글쓰기부터 */
/* 글쓰기 컨테이너 스타일 */
.postingContainer {
  width: 900px;
  background-color: #ffffff31;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0 20px 0;
}

/* 카테고리 선택 스타일 */
.category {
  flex: 1;
  margin-right: 10px;
}

.categorySelect {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  background-color: transparent; /* 배경 색깔 삭제 */
}

/* 제목 입력 스타일 */
.postingTitle {
  flex: 3;
}

.postingTitleInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent; /* 배경 색깔 삭제 */
}

/* 내용 입력 스타일 */
.postingContent {
  margin-bottom: 20px;
}

.postingContentInput {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
  background-color: transparent; /* 배경 색깔 삭제 */
}

/* 등록 버튼 스타일 */
.postingButton {
  text-align: right;
}

.postingButtonSubmit {
  background-color: #6166f5;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.postingButtonSubmit:hover {
  background-color: #4a4ec2;
}

#row5,
#row6 {
  display: flex;
  flex-direction: row;
}

#row5 {
  margin-right: 13px;
}

#row5 i {
  font-size: 20px;
  cursor: pointer;
}

#writer_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

#row3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 20px 0;
}

#time_info {
  display: flex;
  flex-direction: row;
}

#posted_day {
  margin-right: 10px;
}

#title {
  font-size: 28px;
  /*font-weight: 700;*/
  margin-bottom: 20px;
}

#category {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #6166f5;
}

#writer_pic,
.commentPic {
  background-image: url(../../assets/images/시승연.png);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 12px;
}

#writer_nickname,
.commentWriter {
  font-size: 16px;
  font-weight: 600;
  color: #6166f5;
}

#time_info,
.commentTime,
.replyBtn {
  color: #a9a9a9;
  font-size: 14px;
}

#time_info #posted_time {
}

#row1,
#row2,
#row4,
#row5,
#row6 {
  padding-left: 5px;
}

#row1 {
  height: 30px;
}

#post_content {
  margin-bottom: 20px;
}

.commentContent {
}

.comment {
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

.comment .commentTime {
}

.replyBtn {
  margin-left: 10px;
  cursor: pointer;
  color: #7f7f7f;
}

.commentWriter {
  margin-bottom: 3px;
}

#delete_and_edit_btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#delete_and_edit_btn #delete_post {
  margin: 0 10px 0 630px;
  cursor: pointer;
}

#delete_and_edit_btn #edit_post {
  cursor: pointer;
}
