.search_box {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
    box-shadow: none;
}
.search_bar {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search_txt {
    border-radius: 18px;
    padding: 10px;
    width: 400px;
    border: solid 1px #DEDEDE;
}

.search_btn {
    position: absolute;
    right: 0px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    padding: 10px 23px;
    background-color: white;
    border: solid 1px #DEDEDE;
}

.search_btn i {
    color: gray;
}